*.psd filter=lfs diff=lfs merge=lfs -text
C:/Users/Marco[[:space:]]Luminarias/One[[:space:]]Drive/OneDrive/Desktop/pypy filter=lfs diff=lfs merge=lfs -text
C:/Users/Marco[[:space:]]Luminarias/One[[:space:]]Drive/OneDrive/Desktop/pypy filter=lfs diff=lfs merge=lfs -text
C:/Users/Marco[[:space:]]Luminarias/One[[:space:]]Drive/OneDrive/Desktop/pypy filter=lfs diff=lfs merge=lfs -text
